*.a filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.chm filter=lfs diff=lfs merge=lfs -text
*.car filter=lfs diff=lfs merge=lfs -text
*.class filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.e32 filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.idb filter=lfs diff=lfs merge=lfs -text
*.ilk filter=lfs diff=lfs merge=lfs -text
*.isl filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.jnilib filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.key filter=lfs diff=lfs merge=lfs -text
*.keystore filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.pkcs12 filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.sl filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.suo filter=lfs diff=lfs merge=lfs -text
*.swc filter=lfs diff=lfs merge=lfs -text
*.swf filter=lfs diff=lfs merge=lfs -text
*.ttc filter=lfs diff=lfs merge=lfs -text
*.tte filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
infinity-kernel/lib/wrapper/bin/demoapp filter=lfs diff=lfs merge=lfs -text
infinity-kernel/lib/wrapper/bin/wrapper-aix-ppc-32 filter=lfs diff=lfs merge=lfs -text
infinity-kernel/lib/wrapper/bin/wrapper-aix-ppc-64 filter=lfs diff=lfs merge=lfs -text
infinity-kernel/lib/wrapper/bin/wrapper-freebsd-x86-32 filter=lfs diff=lfs merge=lfs -text
infinity-kernel/lib/wrapper/bin/wrapper-freebsd-x86-64 filter=lfs diff=lfs merge=lfs -text
infinity-kernel/lib/wrapper/bin/wrapper-hpux-ia-32 filter=lfs diff=lfs merge=lfs -text
infinity-kernel/lib/wrapper/bin/wrapper-hpux-ia-64 filter=lfs diff=lfs merge=lfs -text
infinity-kernel/lib/wrapper/bin/wrapper-hpux-parisc-32 filter=lfs diff=lfs merge=lfs -text
infinity-kernel/lib/wrapper/bin/wrapper-hpux-parisc-64 filter=lfs diff=lfs merge=lfs -text
infinity-kernel/lib/wrapper/bin/wrapper-linux-ia-64 filter=lfs diff=lfs merge=lfs -text
infinity-kernel/lib/wrapper/bin/wrapper-linux-ppc-32 filter=lfs diff=lfs merge=lfs -text
infinity-kernel/lib/wrapper/bin/wrapper-linux-ppc-64 filter=lfs diff=lfs merge=lfs -text
infinity-kernel/lib/wrapper/bin/wrapper-linux-x86-32 filter=lfs diff=lfs merge=lfs -text
infinity-kernel/lib/wrapper/bin/wrapper-linux-x86-64 filter=lfs diff=lfs merge=lfs -text
infinity-kernel/lib/wrapper/bin/wrapper-macosx-universal-32 filter=lfs diff=lfs merge=lfs -text
infinity-kernel/lib/wrapper/bin/wrapper-macosx-universal-64 filter=lfs diff=lfs merge=lfs -text
infinity-kernel/lib/wrapper/bin/wrapper-solaris-sparc-32 filter=lfs diff=lfs merge=lfs -text
infinity-kernel/lib/wrapper/bin/wrapper-solaris-sparc-64 filter=lfs diff=lfs merge=lfs -text
infinity-kernel/lib/wrapper/bin/wrapper-solaris-x86-32 filter=lfs diff=lfs merge=lfs -text
infinity-kernel/lib/wrapper/bin/wrapper-solaris-x86-64 filter=lfs diff=lfs merge=lfs -text
